.footer-container {
    background-color: #FBFBFB;
    width: 100%;
    --mdb-navbar-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: var(--mdb-navbar-box-shadow);
}
.map{
    height: 300px;
    width: 700px;
}